

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* Border-box all the things */
*,
*::after,
*::before {
  box-sizing: border-box;
}





body {
  position: relative;
  font-size: 16px;
  line-height: 1.3;
  font-family: sans-serif;
  border: 0.5em solid transparent;
  border-top-color: blue;
  border-right-color: #00FFFD;
  border-left-color: #F4FF00;
  border-top-color: blue;
}
body::before,
body::after {
  content: '';
  position: absolute;
  top: -0.5em;
  display: block;
  height: 0.5em;
  width: 0.5em;
  background: blue;
}
body::before {
  left: -0.5em;
  background: blue;
}
body::after {
  right: -0.5em;
  background: #00FFFD;
}

svg {
  width: 100%;
}

.pageHeader {
  font-size: 2.3em;
  text-align: center;
  margin-top: 1.5em;
}

.pageHeader__item {
  display: inline-block;
  border-bottom: 0.2em solid #F4FF00;
  text-align: center;
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.03em;
  -webkit-text-stroke-color: black;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s;
}


.timeline {

}

.form__part {
  height: 0px;
  width: 0px;
}
.form__part__svg {
  width: auto;
  height: auto;
}
img.form__part__svg {
  width: 100%;
}
.form__part--august {
  margin-left: 100px;
  width: 240px;
}
.form__part--oktober {
  margin-left: -100px;
  width: 60px;
}
.form__part--november1,
.form__part--november2 {
  margin-left: -60px;
  width: 200px;
}
.form__part--worldclass {
  margin-left: 200px;
  width: 120px;
}
.form__part--worldclassAd {
  width: 300px;
  margin-left: 300px;
}
.form__part--fabrikkan {
  width: 120px;
  margin-left: 300px;
}

.timeline__section {
  padding: 1em 0;
}
.timeline__section--dark {
  background: #000;
  color: #FFF;
}

.timeline__date {
  margin-top: 3em;
  margin-bottom: 0.5em;
}

.timeline__month {
  max-width: 26em;
  padding: 0 1em;
  margin: 0 auto;
}


.event {
  position: relative;
  z-index: 1; /* Make sure the events are abow the parallaxing parts */
  margin: 1em 0;
}

.event__header {
}

.event__title {
  display: inline-block;
  font-size: 1.3em;
  margin: 0.3em;
  margin-left: 0;
  line-height: 1;
  font-weight: 600;
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.03em;
  -webkit-text-stroke-color: black;
  transition: all 0.2s;
}
.event__title:hover {
  cursor: pointer;
  color: black;
  -webkit-text-fill-color: #F4FF00; /* Will override color (regardless of order) */
}

.event__date {
  display: inline-block;
  font-size: 0.8em;
  font-weight: 700;
  text-transform: uppercase;
  color: #00EEED;
}

.event__details {
  display: none;
}

.event__text {
  font-size: 0.9em;
}

.event__details__image {
  max-width: 100%;
  margin: 0.5em 0;
}

.event__details__video {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
  margin: 0.5em 0;
}
.event__details__video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


@media only screen and (min-width: 40em) {
  body {
    font-size: 20px;
  }

  .timeline__date {
    max-width: 1100px;
    margin: 3em auto -3em;
    padding-right: 300px;
  }

  .event__details__image {
    margin-left: 20%;
  }

  .event__details__video {
    width: 100%;
    margin-left: 20%;
  }

  .form__part--august {
    margin-left: 200px;
  }
  .form__part--september {
    margin-left: -100px;
  }
  .form__part--november1 {
    margin-left: 400px;
  }
  .form__part--november2 {
    margin-left: 400px;
  }
  .form__part--worldclass {
    margin-left: 500px;
    width: 200px;
  }
  .form__part--worldclassAd {
    width: 300px;
    margin-left: 500px;
  }
  .form__part--fabrikkan {
    width: 120px;
    margin-left: -200px;
  }

}
